.container{
    max-width: 800px;
    margin: 1rem auto;   
}

.sections{
 display: flex; 
}

.header{
height: 3rem;
background-color: goldenrod;
font-size: 2rem;
}

 /* .left-column{ 
background-color: yellow;
flex: 1;
height: 30rem;
width: 1rem;
} */

.right-column{
background-color: brown;
flex: 1;
padding-left: 1rem;
}

img{
    width: 400x;
    height: 400px;
}

.intro{
    font-size: 1rem;
}

.name{
font-size: 2rem;
}

.occupation{
font-size: 1.25rem;

}

.aboutme{

}

.resumetitle{
    margin-top: 2rem;
    font-size: 2.5rem;
    font-weight: bold;
}

.resumesections{
    margin-top: 1rem;
    font-size: 2rem ;
    
}

.left-columnRes , .right-columnRes{
    vertical-align: top;
    display: inline-block;
}




.left-columnRes{
    background-color: yellow;
    flex: 1;
    height: 30rem;
   
}

.right-columnRes{
    background-color: brown;
    flex: 1;
    padding-left: 1rem;
}